*{
    color: white;
    font-family: "Noto Sans", "Liberation Sans", "Sans Regular"; 
    background-blend-mode: darken;
}
dialog {
    background: #121116;
}
box {
    background: #121116;
}
label#name {
    font-size: 45px;
    font-weight: bold;
    color: #FF1F4B;
}
label#levelup {
    font-size: 25px;
    font-weight: bold;
    color: rgb(192, 37, 68);
}
label#first {
    font-weight: bold;
    font-size: 25px;
    color: white;
}
label#second {
    font-weight: normal;
    font-size: 17px;
    color: rgb(151, 151, 151);
}
label#Design {
    font-weight: normal;
    font-size: 15px;
    color: rgb(77, 77, 77);
}
label#fail {
    font-size: 35px;
    font-weight: bolder;
    color:#A2BF26;
    color: rgb(192, 37, 68);
}
label#engword {
    font-size: 60px;
    font-weight: bold;
}
label#55 {
    font-size: 25px;
    font-weight: bolder;
}
label#rus {
    font-size: 30px;
    font-weight: normal;
    color: rgb(214, 214, 214);
}
label#1, label#2, label#3, label#4, label#5, label#6, label#7, label#8, label#9, label#10 {
    font-size: 13px;
    color: rgb(122, 122, 122); 
}
label#developer {
    font-size: 20px;
    font-weight: bold;
    color: #FF1F4B;
}
label#work {
    font-size: 10px;
    font-weight: normal;
    color: rgb(156, 156, 156); 
}
headerbar {
    background-color:#121116;
    background-blend-mode: darken;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-width: 0px;
    font-size: 15px;
    font-weight: bolder;
    box-shadow: none;
}
menubar {
    background-color:#121116; 
    font-weight: lighter;
}
menuitem {
    background-color:#121116; 
    font-weight: lighter;
    border-width: 0px;

}
entry {
    caret-color:rgb(192, 37, 68);
    background-color: linen;
    font-size: 30px;
    color: rgb(192, 37, 68);
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-width: 0px;
    font-weight: bolder;
    box-shadow: none;
}
headerbar button {
    background-color: transparent;   
}
button#allbutt {
    background-color:rgba(192, 37, 68, 0.829);
    font-size: 25px;
    font-weight: bold;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: white;
    
}
button#1 {
    background-color:rgba(161, 76, 93, 0.829);
    font-size: 23px;
    font-weight: bolder;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: rgb(184, 184, 184);
}
button#2 {
    background-color:rgba(192, 59, 85, 0.829);
    font-size: 25px;
    font-weight: bolder;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: rgb(190, 190, 190);
}
button#3 {
    background-color:rgba(192, 48, 77, 0.829);
    font-size: 27px;
    font-weight: bolder;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: rgb(209, 209, 209);
}

button#4 {
    background-color:rgba(192, 37, 68, 0.829);
    font-size: 30px;
    font-weight: bolder;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: white;
}
button#nextbutton  {
    background-color:#A2BF26;
    font-size: 25px;
    font-weight: bolder;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: white;
}
button#easy {
    background-color:rgba(192, 37, 68, 0.829);
    font-size: 23px;
    font-weight: bold;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: rgb(184, 184, 184);
}
button#middle {
    background-color:rgba(192, 37, 68, 0.829);
    font-size: 25px;
    font-weight: bold;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: rgb(216, 216, 216);
}
button#hight {
    background-color:rgba(192, 37, 68, 0.829);
    font-size: 27px;
    font-weight: bold;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: rgb(255, 255, 255);
}